@font-face {
  font-family: 'AvertaStd';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AvertaStd-Black.eot');
  src: url('../fonts/AvertaStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/AvertaStd-Black.woff') format('woff');
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, strong, em, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {background:transparent;font-size:100%;vertical-align:baseline;border:0;padding:0;margin:0;outline:0;}

article, aside, figure, footer, header, hgroup, nav, section {display:block;}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}

small {font-size:85%;}
sub {vertical-align:sub;font-size:smaller;}
sup {vertical-align:super;font-size:smaller;}
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

table {font-size:inherit;font:100%;border-collapse:collapse;border-spacing:0;}
th, td, td img {vertical-align:top;}

nav ul {list-style:none;}
ul, ol, li {list-style:none;display:block;}
.css3 {position:relative;}

input[type="radio"] {vertical-align:text-bottom;}
input[type="checkbox"] {vertical-align:bottom;}
.ie6 input {vertical-align:text-bottom;}

button {width:auto;overflow:visible;}
input, select {vertical-align:middle;}
label, input[type=button], input[type=submit], button {cursor:pointer;}
input:focus, textarea:focus, button:focus, a, a:hover, a:active, a:visited, a:focus, a:focus * {outline:none;}
a:link {-webkit-tap-highlight-color:transparent;}

html {-webkit-font-smoothing:antialiased;overflow-y:scroll;}
body {font:14px sans-serif;line-height:1.22;}
body, select, input, textarea {font-family:sans-serif, Arial, Helvetica;}
h1, h2, h3, h4, h5, h6 {font-family:sans-serif, Arial, Helvetica;font-weight:lighter;padding:0;margin:0;}

._clear { content: " "; display: block; height: 0; clear: both; visibility: hidden; }
._clearfix {&:after {._clear;}}

._rel {position:relative;}
._abs {position:absolute;}
._fix {position:fixed;}
._blo {display:block;}
._inb {display:inline-block;}
._inl {display:inline;}
._none {display:none;}
._left {float:left;}
._right {float:right;}
._fnone {float:none;}
._b {font-weight:700;}
._m {font-weight:500;}
._n {font-weight:400;}
._l {font-weight:300;}
._i {font-style:italic;}
._up {text-transform:uppercase;}
._upx {text-transform:none;}
._lsx {list-style:none;}
._x {text-decoration:underline;&:hover{text-decoration:none;}}
._xu {text-decoration:none; a{text-decoration:none;}}
._xuh {._xu; &:hover,a:hover{text-decoration:underline;}}
._m0p0 {margin:0; padding:0;}
._mar {margin: auto auto ;}
._bgn {background:none transparent;}
._bgc (@c:transparent){background-color:@c;}
/*._bg (@img:'sprite@1x.png', @col:transparent, @rep:no-repeat, @x:0, @y:0){@url:%("../images/design/%s", @img);background-image:url(@url);background-color: @col;background-repeat: @rep;background-position:@x @y;}
._bgp (@x:0, @y:0){background-position:@x @y;}
._bgx {background-repeat:repeat-x;}
._bgy {background-repeat:repeat-y;}
._bgi (@img:'sprite@1x.png'){@url:%("../images/design/%s", @img);background-image:url(@url);}
._bgr (@img:'sprite@1x.png'){@url:%("../images/design/%s", @img);background:url(@url) transparent repeat center 0;}
._bgm (@img:'sprite@1x.png'){._bgi(@img);._bgp(center, center);}
._bgs (@w:auto, @h:auto){background-size:@w @h;}*/
._dev {border: 1px solid red;}
._dev2 {border: 1px solid yellow;}
._dev3 {border: 1px solid black;}
._cover {background-size:cover;}
._ovh {overflow:hidden;}
._ovv {overflow:visible;}
._ova {overflow:auto;}
._ovy {._ovh;overflow-y:auto;}
._all {text-align:left;}
._alc {text-align:center;}
._alr {text-align:right;}
._alj {text-align:justify;}
._vat {vertical-align:top;}
._vam {vertical-align:middle;}
._vab {vertical-align:bottom;}
._mix_blend {mix-blend-mode: multiply; object-fit: contain;}
._text (@s:14px, @h:18px){font-size:@s; line-height:@h;}
._wh (@w:auto, @h:auto){width:@w; height:@h;}
._box (@x:0, @y:0, @blur:1px, @color: #000) {-moz-box-shadow:@arguments;-webkit-box-shadow:@arguments;box-shadow:@arguments;}
._sprite (@x:1000px, @y:1000px){._bg(); ._bgp(@x, @y);}
._cont {content:'';}
._ti {text-indent:-9999px;}
._rad (@r:0){-moz-border-radius:@arguments;-webkit-border-radius:@arguments;border-radius:@arguments;}
._collapse {border-collapse:collapse;}
._separate {border-collapse:separate;}
._wrapx {white-space:nowrap;}
._break {word-wrap:break-word;}
._dot {._ovh;._wrapx;text-overflow:ellipsis;}
._opc (@o:100){opacity:@o / 100;filter:alpha(opacity=@o);}
._trans (@p:all, @du:0.2s, @de:0s) {-moz-transition:@arguments;-webkit-transition:@arguments;transition:@arguments;}
._nop {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
._nopx {-moz-box-sizing:padding-box;-webkit-box-sizing:padding-box;box-sizing:padding-box;}
._control {background-color: @color2; background-size: 12px;._wh(35px, 35px);border-radius: 50px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);top:75%!important;}
._align (@a: center){-webkit-box-align:@arguments;-webkit-align-items:@arguments;-moz-box-align:@arguments;-ms-flex-align:@arguments;align-items:@arguments;}
._reset {background:none;border:none}
/*._sprite1x (@x:1000px, @y:1000px){._bg('sprite@1x.png', transparent, no-repeat, @x, @y);background-size:500px;}*/
._blg (@p:top, @f:transparent, @t:transparent){
    background:@t none;
    background:-webkit-linear-gradient(@p, @f, @t);
    background:-moz-linear-gradient(@p, @f, @t);
    background:-ms-linear-gradient(@p, @f, @t);
    background:-o-linear-gradient(@p, @f, @t);
    background:linear-gradient(@p, @f, @t);
    -pie-background:linear-gradient(@p, @f, @t);
}

//Animations
._transh(@a: 0s) {-webkit-transition: height @a;-moz-transition: height @a;-ms-transition: height @a;-o-transition: height @a;transition: height @a;}

._arial {font-family: Arial, Helvetica, sans-serif;}
._ubuntu {font-family:'Ubuntu', Arial, Helvetica, sans-serif;}
._averta {font-family:'AvertaStd', Arial, Helvetica, sans-serif;}

@white:#ffffff;
@black:#000000;
@color1:#555555;
@color2:#00c277;
@color3:#ff6833;
@color4:#a15ab8;
@color5:#bcbcbc;
@color6:#E5E5E5;

body, select, input, textarea {._ubuntu;font-weight:400;color:@color1;}
h1, h2, h3, h4, h5, h6 {._ubuntu;}
a, a:hover, a:active, a:visited {color:@color1;._xu;._trans(color, 0.3s, 0s);}
input, button {._reset}

html, body {overflow-x:hidden;}
._container {margin:0 auto;}
//.container {._container;._clearfix;._wh(100%,100%);max-width:1114+44+44px;padding:0px 44px;}
* {._nop;}

@media screen and (max-width:620px){
    .container {padding:16px 10px;}
}

.drow {._clearfix;margin-left:-12px;margin-right:-12px;}
.dcol {padding-left:12px;padding-right:12px;}
/*@media screen and (max-width:1024px){
    .drow {margin-left:-10px;margin-right:-10px;}
    .dcol {padding-left:10px;padding-right:10px;}
}*/

/* DEV PANEL=============================================
*/
//.box_7,.box_8{display:none}
//.wrapper_container {._ovh;}
//.wrapper {._dev}
//.container{._dev3}
//.content{._dev2}
//.col-sm-3{border:1px solid blue;}
/*======================================================
*/

.overlay {._fix;._none;._wh(100%,100%);
  top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.5);
  z-index: 100;cursor: pointer;}

.header {._bgc(@white);border-bottom:2px solid rgba(0,194,119,0.4);height:100px;._fix;top:0;left:0;right:0;z-index:100;
    .delivery_line {background-color: @color2;height:31px;font-weight:500;._text(10px, 14px);color:@white;._up;._alc;width:100%;._left;
        > div {._inb;margin-top:9px;}
        img {margin-right:13px;._left;}
    }
        .nav-column {._left;}
        .left,  {._wh(20%,70%);line-height: 6;
          .menu-link{._abs;color: @white;font-size: 25px;line-height: 20px;display:none;}
        }
        .right {._wh(10%,70%);line-height: 6;}
        .middle {._wh(70%,70%);text-align: center;}
        .panel {background: @white;font-size: 10px;line-height: 55px;z-index: 102;}
        .img_s2 {display:none;}
        .logo,.basket .ico,{._inb;
          .img_s2 {display:none;}
      }
          .logo {width:70%;._right;
            img{max-width:100%;}
              .img_s1 {width:100%;}
                a {._xu;._blo; }
          }
    .menu {font-weight:300;._text(13px, 16px);._up;margin:28px 0 0;._right;line-height:normal;
        li {._left;margin-left:20px;
            a {color:@color1;}
            &.sel a {font-weight:500;color:@color4;}
            }
          }
    .basket {._right;
        .ico {cursor:pointer;
            img {._blo;width: 17px;}
        }
    }
    .panel .top{._inb;._all;._wh(100%,61px);background-color: @color2;
      padding: 0px 30px;
      button{color:@white;font-size: 25px;
      line-height: 20px;}
      img{width:55%;max-width:100%;height:auto;margin-left: 10%;}
    }
    .panel{
      ul {position: ._rel;min-height:60%;}
      li {text-align: left;margin-left:10%;width: 100%;
          a {color:@color1;font-size: 13px;}
          &.sel a {font-weight:500;color:@color4;}
          }
      .bottom{
        p {font-size: 16px;color:@color1;._alc}
        .social {._clearfix;display: block;
          max-width: 363px;margin: 20px auto 52px auto;

            li {._left;width:15%;
                & + li {margin-left:12px;}
            }
            img {._blo;}
            svg {._wh(46px, 46px);._blo;}
            a {._xu;._wh(46px, 46px);._rel;._blo;
                .default, .hover {._abs;top:0;left:0;._trans(opacity, 0.3s, 0s);}
                .default {opacity:1;}
                .hover {opacity:0;}
            }
        }
      }
    }
}

@media screen and (max-width:960px) {
    .delivery_line{._none;}
    .header {background-color:@color2;height:61px;
      .menu{._none;}
      .left,.right{line-height: 20px;height:100%;}
        .left{width:70%;
          .close {display:none;width:15px;font-weight:100;};
          .open {display:inline-block;};
          };
          .middle{._none};
          .right{width:25%;
           img{width:30px;}
      }
      .logo{
        img{width:60%;}
        }
      .img_s2 {._inb;}
    .logo,.basket,button{margin:20px auto;}
      .logo,.basket .ico {
        .img_s1 {._none;}
        .img_s2 {._inb;}
      }
      .panel {
        ul {overflow-y: scroll;overflow-x: hidden}
        .top {
          img {width:35%;margin-top:4%;}
        }
      }
    }
}

@media only screen and (max-width:620px) {
    .header {
      .logo img{
        width:100%;
      }
     .logo,.basket,button{margin:7px auto;line-height:20px}
     .panel {
      .top{padding: 10px 10px;
          img {	max-width:100%;
	height:auto;margin-left:10%;width:60%}
          //button {top:25px;left:5px}
        }
        .bottom {
          .social {max-width: 350px;
            li {width:13%}
          }
        }
      }
    }
    .box_6{padding:130px 0 6px!important;}
}
@media only screen and (max-width:345px) {
    .header{
      .logo {width: 60%;
        img{width:80%;margin: 5px auto;
        }
      }
      .panel {
        .top {
          button {font-size: 20px;}
          img{width:60%;}
        }
        .bottom {
          .social {margin: 0px auto 15px auto}
        }
      }
      .left{width:80%;
        .menu-link {font-size: 20px;}
      }
      .right{width:15%}
      .bottom{
        .social{max-width:215px;
          a {._wh(50px; 50px)}
          svg {._wh(30px, 30px);._blo;}
          li {width:10%;}
        }
      }
    }
}

footer {font-weight:300;._text(1em, 2em);
  .container {padding: 16px 0px;}
    .row {margin-left:0px!important;margin-right:0px!important}
    .logo {width:114px;margin-bottom:1.8em;
        img {width:114px;._blo;}
        a {._xu;._blo;}
    }
    .contacts {
        div {._rel;
            & + div {margin-top:1.4em;}
            &.mail img {margin-top:3px;}
        }
        a {cursor:default;}
        img {margin-right:0.5em}
    }
    .payment {._clearfix;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;
            li {._left;}
    }
    .copyright {._bgc(#f5f7f8);._alc;padding:24px 0 25px;
        span {padding:0 8px;}
      .container {margin-left:0px!important;margin-right:0px!important}
    }
}
//bs mobile switch on col-sm
@media only screen and (max-width:768px) {
  .box_8 {
    .bg:before{top:428px!important;}
    .right{margin:-10% 0 -35%!important;._fnone}
    h2:after{margin:15px auto;}
    //.row {._m0p0;}
    .contacts{max-width: 100%!important;._alc}
    .subscribe{._alc;
      margin-left:0;._fnone;padding:65px 15px 98px!important;
      .form {._blo!important;width:80%!important;margin: 0 auto;line-height: 5;
      a.btn_1 {width:100%;margin-left:0!important;
        }
      }
    }
  }
  .wrapper{margin-bottom: 35%;}
  footer{
    .contacts{._alc;margin: 0 auto 1.8em;}
    .menu .fa {
      ._abs;right:0.5em;margin-top:0.15em;
      font-size: 2em;color:@color5;}
    .logo {margin:0 auto 1.8em auto;}
    .menu {line-height:2.6em;padding: 0;
      li {border-top: 1px solid @color6;
        a{margin-left:1em;}
      }
    }
  }
}
/*
.web {
    .header .menu li:not(.sel) a:hover {color:@color4;}
    .footer .menu li a:hover {color:@color4;}
}*/

a.btn_1 {._bgc(@color3);._text(16px, 20px);font-weight:500;color:@white;._up;._alc;._rad(25px);padding:15px 65px;min-width:206px;._inb;._trans(all, 0.3s, 0s);}
a.btn_1:hover {._bgc(@color4);}


.box_1 {._clearfix;
    .container{}
    .content {max-width:400px;._rel;
      .txt{padding:218px 0 0;}
    }
    .txt {._averta;._text(52px, 57px);color:@color1;
        span {color:@color2;}
    }
    a.btn_1 {padding:13px 65px 14px;margin-top:39px;}
    .img {width:60%;margin:-20% 0 0 0;._right;
      img{._wh(100%,100%)}
    }
}
//mainswitch on mobile versions >960px
@media screen and (max-width:960px) {
  .box_1{z-index:-4;
    .row{._m0p0;}
    .content{max-width: 100%;}
    a.btn_1{z-index: 2;}
    .row{text-align: center;
      .txt{padding:110px 0 0;}
      //.btn_1{margin: 60% auto 0 auto}
    }
    .img{width:100%;
      margin:0 0 -15% 0;z-index:-5;
      img{._wh(100%,100%);z-index: -1;}
    }
  }
  .box_2{margin-top:0;z-index:-1;padding:0 0 330px;
    &:before {height:125%
    }
    .img.left{display:none;}
    .img.right{display:none;}
    .content {padding: 96px 0;
      h2{text-align: center;
      &:after {margin: 13px auto 0 auto;}
    }
    }
  }
  .img.center{display:block!important;margin-top:-58%;z-index:100;}

  .box_3{z-index:-1!important;
    &:before{height:25%!important;top:-405px!important;}
    .list{background-color: transparent!important;
      .item{
        .text {width:100%!important;padding:0 0 130px 0!important;._fnone;
          .second{._right;}
          .col {display:inline-block;}
          .left{width:30%;}
          .right{width:70%;._right}
            img{margin: 10px 0 0 0;}
        }
        .img{width:70%!important}
        &:nth-child(1) {
            &:before {background-size: 30% auto!important;top:5%!important;left:25%!important}
            .img {margin:0 0 0 0!important;._right!important;
            }
        }
        &:nth-child(2) {
        &:before {background-size: 30% auto!important;top:52%!important;left:61%!important;margin-left:0!important;/*margin-left:0px!important;top:0!important;right:15%!important*/}
            .img {margin:0 0 0 0!important;._left!important;
            }
        }
      }
    }
  }
  .box_456{margin-top:-835px!important;
    &:before{._blg(165deg, #3023ae, #e893d7)!important;left:0!important;top:0!important;margin-left:-1856px;
      -webkit-transform:rotate(-6deg)!important;
      -moz-transform:rotate(-6deg)!important;
      transform:rotate(-6deg)!important;
    }
    .img.center{margin-top:0;top:0!important;z-index: 0;
      img{max-width: 115%!important;width:115%;}
    }
  }
  .box_4 {
    &:before{top:100%!important;height:150px!important
    }
    .row {
      .dcol{
        margin:15px auto;width:50%;
      }
    }
  }
  .box_5{
    .container{max-width: 100%;
    .row{
      }
    }
  }
  .box_6{
    .img.right{
      top:-190px!important;width:100%!important;}
  }
  .box_8.contacts{padding-left: 64px 0 145px;}
}

@media screen and (max-width:345px) {
  .box_1{
    .row{
      .txt{padding:20% 0 0;font-size:2.5em;}
    }
    a.btn_1{margin-top: 0;line-height: 2.15em;}
    .img {margin:0% 0% 0% 0%;
      img{._wh(100%;100%);}
    }
  }
  .img.center{margin-top:-50%;}
}

.box_2 {color:@white;._rel;padding:0 0 188px;
    &:before {._blg(91deg, #fad961, #f76b1c);._wh(300%, 100%);._abs;top:158px;left:-50%;._cont;width:4098px;left:50%;margin-left:-1366px;
        -webkit-transform:rotate(16deg);
        -moz-transform:rotate(16deg);
        transform:rotate(16deg);
    }
    .container {._rel;}
    .content {max-width:500px;margin:0 auto;._rel;z-index:1;
        h2 {._averta;._text(30px, 34px);margin-bottom:30px;
            &:after {._bgc(@color2);._wh(87px, 4px);margin-top:13px;._blo;._cont;}
        }
        .txt {._text(16px, 21px);
            a {color:@color2;}
            ul, ol {._lsx;padding:0;margin:37px 0 40px;._ovh;
                > li {padding-left:36px;._rel;
                    & + li {margin-top:15px;}
                }
            }
            ul > li:before {._bgc(@white);._rad(50%);._wh(4px, 4px);._abs;top:8px;left:11px;._cont;}
            ol {counter-reset:myIndex;
                > li:before {width:20px;._abs;top:0;left:11px;content:counter(myIndex)'.';counter-increment:myIndex;}
            }
            *:first-child {margin-top:0;}
            *:last-child {margin-bottom:0;}
        }
    }
    .img.left {max-width:630px;._abs;top:-55%;left:-20%;
        -webkit-transform:rotate(-5deg);
        -moz-transform:rotate(-5deg);
        transform:rotate(-5deg);
        img {max-width:100%;._blo;}
    }
    .img.right {max-width:480px;._abs;top:-235px;right:0;z-index: 2;
        img {max-width:100%;._blo;}
    }
}
.img.center {display:none;/*._abs;top:35%;left:0;*/width:100%;
  img{._wh(100%;auto)}
  }
.box_3 {padding:124px 0 738px;._rel;z-index: 0;
    &:before {._blg(142deg, #00e88f, #570492);._wh(300%, 100%);._abs;top:-194px;left:-50%;._cont;width:4098px;left:50%;margin-left:-1366px;
        -webkit-transform:rotate(-16deg);
        -moz-transform:rotate(-16deg);
        transform:rotate(-16deg);
    }
    .content {._rel;}
    h2 {._averta;._text(30px, 34px);color:@white;._alc;margin-bottom:78px;
        &:after {._bgc(@color3);._wh(87px, 4px);margin:15px auto 0;._blo;._cont;}
    }
    .list {._bgc(rgba(255,255,255,0.92));._rad(4px);max-width:655px;margin:0 auto;._rel;
        .item {._clearfix;
            .img {border:8px solid @white;width:366px;
                > div {background:none no-repeat 0 center transparent;._cover;padding-bottom:100%;}
            }
            .text {display:flex;align-items:flex-end;
                img {._wh(62px, 62px);margin-bottom:11px;._blo;}
                .title {._averta;._text(23px, 30px);}
                .txt {._text(14px, 20px);margin-top:9px;}
            }
            &:nth-child(1) {
                &:before {background:url('../images/design/box_3_left.png') no-repeat 0 0;._wh(253px, 452px);margin-left:-37px;._abs;top:118px;right:100%;._cont;}
                .img {margin:-40px 0 0 -41px;._rel;z-index:1;._left;
                    -webkit-box-shadow:rgba(0,0,0,0.2) 0 0 3px 0;
                    -moz-box-shadow:rgba(0,0,0,0.2) 0 0 3px 0;
                    box-shadow:rgba(0,0,0,0.2) 0 0 3px 0;
                }
                .text {._wh(330px, 326px);padding:0 86px 69px 56px;._left;}
            }
            &:nth-child(2) {
                &:before {background:url('../images/design/box_3_right.png') no-repeat 0 0;._wh(338px, 539px);margin-left:-119px;._abs;top:-90px;left:100%;._cont;}
                .img {margin:0 -36px -41px 0;._rel;z-index:1;._right;
                    -webkit-box-shadow:rgba(0,0,0,0.2) 0 0 19px 0;
                    -moz-box-shadow:rgba(0,0,0,0.2) 0 0 19px 0;
                    box-shadow:rgba(0,0,0,0.2) 0 0 19px 0;
                }
                .text {._wh(325px, 325px);padding:0 61px 61px 77px;._left;}
            }
        }
    }
}
.box_456 {color:@white;margin-top:-600px;._rel;
    &:before {._blg(56deg, #3d0490, #e893d7);._wh(300%, auto);._abs;top:225px;bottom:-500px;left:-50%;._cont;width:4098px;left:50%;margin-left:-1366px;
        -webkit-transform:rotate(16deg);
        -moz-transform:rotate(16deg);
        transform:rotate(16deg);
    }
    .img.center {._abs;top:-191px;._mix_blend;
        img {max-width:100%;._blo;}
    }
}
.box_4 {._alc;padding:56px 0 102px;._rel;
  &:before {._blg(240deg, #3d0490, #e893d7);._wh(2443px, 346px);._abs;top:683px;left:-50%;._cont;width:2443px;left:50%;margin-left:-1366px;mix-blend-mode: multiply;
      -webkit-transform:rotate(-16deg);
      -moz-transform:rotate(-16deg);
      transform:rotate(-16deg);
  }
    .content {._rel;}
    .row {color:@color1;margin:0 -12px;display:flex;flex-wrap:wrap;
      //  .dcol {width:25%;padding:12px;display:flex;}
        .item {._bgc(@white);._wh(100%,100%);padding:39px 24px 26px;
            img {._wh(58px, 58px);margin:0 auto 29px;._blo;}
            .title {._averta;._text(23px, 23px);}
            .txt {._text(14px, 19px);margin-top:15px;}
        }
    }
    h2 {._averta;._text(20px, 24px);._alc;margin:31px 0 20px;}
    a.btn_1 {padding:12px 50px 13px;}
}

//Swiper:ourambasadors
.box_5 {._alc;._rel;
  //.row {margin-left:0;margin-right: 0;}
  .arrow-container{width: auto}
  .swiper-container {width: 1120px;height: 100%;margin:50px auto;padding: 20px 29px;
    .swiper-wrapper{._align(center);height:100%;
      .swiper-slide {._transh(0.5s);._blo;._wh(376px, 480px);text-align: center;font-size: 18px;color:#000000;
        background: #fff;opacity: 0.99;border-radius: 4px;padding: 25px 20px;._rel;
        //-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;
          .txt{._text(14px, 1.5);._ubuntu;._l;._i;._all;
            font-stretch:normal;letter-spacing: normal;padding:20px 60px;}
          .txt.view{._b;._up;color:@color4;font-style:normal;padding:10px 75px;}
        &-active{._transh(0.5s);height: 520px;box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
          @media screen and (min-width: 768px){
            height: 520px;margin: 0px -3px;z-index: 10;
          }
        }
      }
    }
  }
  .profile{._abs;left:50px;top:210px}
    .profile.txt{._b;left:90px;top:215px;color:#ffffff}
      h2 {._averta;._text(30px, 34px);
          &:after {._bgc(@color2);._wh(87px, 4px);margin:15px auto 0;._blo;._cont;}
      }
      .swiper-button-prev{._control;left:20px!important;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;}
      .swiper-button-next{._control;right:20px!important;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;}
  }
  .arrow-container{   ._rel;._wh(107%, auto);margin-left:-40px;}

.box_6 {._alc;padding:470px 0 6px;._rel;
    h2 {._averta;._text(30px, 34px);margin-bottom:30px;
        &:after {._bgc(@color3);._wh(87px, 4px);margin:9px auto 0;._blo;._cont;}
    }
    .list {margin:0 -12px;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-around;
        .dcol {padding:28px 12px;}
        img {margin:0 auto;._blo;}
    }
    .img.right {._abs;top:-463px;right:0;width:85%;._mix_blend;
        img {max-width:100%;width:100%;._blo;}
    }
}
.box_7 {._cover;color:@white;._alc;._rel;max-height: 380px;overflow: hidden;
  .video-container {._wh(100%, auto);display:flex;  justify-content: center; align-items: center;
      video {._wh(100%, auto);}
    .video-overlay {._abs;._wh(100%, 100%);top:0;left:0;z-index: 0;
    background-image: url('https://pranamat.com/images/grid.png');
  }
}
  .content {._wh(100%, auto);._abs;
  top: 30%; left: 0;padding:0.4em; margin:0; z-index:99;}
    h2 {._averta;._text(30px, 34px);margin-bottom:23px;}
    a.btn_1 {._bgn;letter-spacing:0.3px;border:2px solid @white;padding:10px 46px 11px;}
}
.box_8 {._bgc(#f89637);._blg(6deg, #f76b1c, #faa640);._rel;
    .bg {._abs;top:0;bottom:0;left:0;right:0;._ovh;
        &:before {._blg(91deg, #ee3300, #e6580b);._wh(300%, 200%);._abs;top:509px;left:-50%;._cont;width:4098px;left:50%;margin-left:-1366px;
            -webkit-transform:rotate(19deg);
            -moz-transform:rotate(19deg);
            transform:rotate(19deg);
        }
        img {._blo;}
    }
    .container {._rel;}
    h2 {._averta;._text(30px, 34px);margin-bottom:39px;
        &:after {._bgc(@color2);._wh(87px, 4px);margin-top:15px;._blo;._cont;}
    }
    .txt {._text(16px, 23px);min-height:77px;
        span {font-weight:500;}
        p {margin:8px 0;}
        *:first-child {margin-top:0;}
        *:last-child {margin-bottom:0;}
    }
    .contacts {color:@white;max-width:380px;padding:64px 0 98px;
        .social {._clearfix;margin-top:36px;._inb;
            li {._inb;}
            img {._blo;}
            svg {._wh(46px, 46px);._blo;}
            a {._xu;._wh(46px, 46px);._rel;._blo;
                .default, .hover {._abs;top:0;left:0;._trans(opacity, 0.3s, 0s);}
                .default {opacity:1;}
                .hover {opacity:0;}
            }
        }
    }
    .subscribe {._bgc(@white);padding:64px 59px 98px;margin-left:-4px;._right;
        -webkit-box-shadow:rgba(0,0,0,0.08) 0 2px 21px 8px;
        -moz-box-shadow:rgba(0,0,0,0.08) 0 2px 21px 8px;
        box-shadow:rgba(0,0,0,0.08) 0 2px 21px 8px;
        h2:after {._bgc(@color3);}
        .txt {font-weight:300;margin-bottom:37px;}
        .form {._clearfix;width:100%;display:flex;
            .inputblock {/*display:flex;._left;*/width:100%;flex:1;
                label {._none;}
                input {._bgn;._text(14px, 20px);._rad(22px);border:1px solid #e1e1e1;._wh(100%, 45px);padding:10px 42px 13px 32px;margin:0;._blo;._trans(all, 0.3s, 0s);
                    ._phcolor {color:#b4b4b4;opacity:1;}
                    &::-webkit-input-placeholder {._phcolor;/*padding-top:1px;*/}
                    &:-moz-placeholder {._phcolor;}
                    &::-moz-placeholder {._phcolor;}
                    &:-ms-input-placeholder {._phcolor;}
                    &.placeholder {._phcolor;}
                    &:focus {border-color:@color1;}
                }
            }
            a.btn_1 {min-width:146px;padding:12px 30px 13px;margin-left:11px;/*._right;*/display:inline-flex;justify-content:center;}
        }
    }
    .drow {display:flex;flex-wrap:wrap;}
    .left {/*width:50%;*/margin:-13px 0 -14px;._left;}
    .right {/*width:50%;*/margin:-13px 0 -14px;._left;display:flex;align-items:stretch;}
}
.web {
    .box_7 a.btn_1:hover {border-color:@color4;}
    .box_8 .contacts .social a:hover {
        .default {opacity:0;}
        .hover {opacity:1;}
    }
}

.header {._blo;}
//html, body {min-width:1114+44+44px;overflow-x:auto;}


@media only screen and (max-width:1280px) {}
