@font-face {
  font-family: 'AvertaStd';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AvertaStd-Black.eot');
  src: url('../fonts/AvertaStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/AvertaStd-Black.woff') format('woff');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
strong,
em,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 85%;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
td img {
  vertical-align: top;
}
nav ul {
  list-style: none;
}
ul,
ol,
li {
  list-style: none;
  display: block;
}
.css3 {
  position: relative;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie6 input {
  vertical-align: text-bottom;
}
button {
  width: auto;
  overflow: visible;
}
input,
select {
  vertical-align: middle;
}
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
input:focus,
textarea:focus,
button:focus,
a,
a:hover,
a:active,
a:visited,
a:focus,
a:focus * {
  outline: none;
}
a:link {
  -webkit-tap-highlight-color: transparent;
}
html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}
body {
  font: 14px sans-serif;
  line-height: 1.22;
}
body,
select,
input,
textarea {
  font-family: sans-serif, Arial, Helvetica;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}
._clear {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
._clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
._rel {
  position: relative;
}
._abs {
  position: absolute;
}
._fix {
  position: fixed;
}
._blo {
  display: block;
}
._inb {
  display: inline-block;
}
._inl {
  display: inline;
}
._none {
  display: none;
}
._left {
  float: left;
}
._right {
  float: right;
}
._fnone {
  float: none;
}
._b {
  font-weight: 700;
}
._m {
  font-weight: 500;
}
._n {
  font-weight: 400;
}
._l {
  font-weight: 300;
}
._i {
  font-style: italic;
}
._up {
  text-transform: uppercase;
}
._upx {
  text-transform: none;
}
._lsx {
  list-style: none;
}
._x {
  text-decoration: underline;
}
._x:hover {
  text-decoration: none;
}
._xu {
  text-decoration: none;
}
._xu a {
  text-decoration: none;
}
._xuh {
  text-decoration: none;
}
._xuh a {
  text-decoration: none;
}
._xuh:hover,
._xuh a:hover {
  text-decoration: underline;
}
._m0p0 {
  margin: 0;
  padding: 0;
}
._mar {
  margin: auto auto ;
}
._bgn {
  background: none transparent;
}
/*._bg (@img:'sprite@1x.png', @col:transparent, @rep:no-repeat, @x:0, @y:0){@url:%("../images/design/%s", @img);background-image:url(@url);background-color: @col;background-repeat: @rep;background-position:@x @y;}
._bgp (@x:0, @y:0){background-position:@x @y;}
._bgx {background-repeat:repeat-x;}
._bgy {background-repeat:repeat-y;}
._bgi (@img:'sprite@1x.png'){@url:%("../images/design/%s", @img);background-image:url(@url);}
._bgr (@img:'sprite@1x.png'){@url:%("../images/design/%s", @img);background:url(@url) transparent repeat center 0;}
._bgm (@img:'sprite@1x.png'){._bgi(@img);._bgp(center, center);}
._bgs (@w:auto, @h:auto){background-size:@w @h;}*/
._dev {
  border: 1px solid red;
}
._dev2 {
  border: 1px solid yellow;
}
._dev3 {
  border: 1px solid black;
}
._cover {
  background-size: cover;
}
._ovh {
  overflow: hidden;
}
._ovv {
  overflow: visible;
}
._ova {
  overflow: auto;
}
._ovy {
  overflow: hidden;
  overflow-y: auto;
}
._all {
  text-align: left;
}
._alc {
  text-align: center;
}
._alr {
  text-align: right;
}
._alj {
  text-align: justify;
}
._vat {
  vertical-align: top;
}
._vam {
  vertical-align: middle;
}
._vab {
  vertical-align: bottom;
}
._mix_blend {
  mix-blend-mode: multiply;
  object-fit: contain;
}
._cont {
  content: '';
}
._ti {
  text-indent: -9999px;
}
._collapse {
  border-collapse: collapse;
}
._separate {
  border-collapse: separate;
}
._wrapx {
  white-space: nowrap;
}
._break {
  word-wrap: break-word;
}
._dot {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
._nop {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
._nopx {
  -moz-box-sizing: padding-box;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}
._control {
  background-color: #00c277;
  background-size: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
  top: 75%!important;
}
._reset {
  background: none;
  border: none;
}
/*._sprite1x (@x:1000px, @y:1000px){._bg('sprite@1x.png', transparent, no-repeat, @x, @y);background-size:500px;}*/
._arial {
  font-family: Arial, Helvetica, sans-serif;
}
._ubuntu {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
._averta {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
}
body,
select,
input,
textarea {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #555555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
a,
a:hover,
a:active,
a:visited {
  color: #555555;
  text-decoration: none;
  -moz-transition: color 0.3s 0s;
  -webkit-transition: color 0.3s 0s;
  transition: color 0.3s 0s;
}
a a,
a:hover a,
a:active a,
a:visited a {
  text-decoration: none;
}
input,
button {
  background: none;
  border: none;
}
html,
body {
  overflow-x: hidden;
}
._container {
  margin: 0 auto;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 620px) {
  .container {
    padding: 16px 10px;
  }
}
.drow {
  margin-left: -12px;
  margin-right: -12px;
}
.drow:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.dcol {
  padding-left: 12px;
  padding-right: 12px;
}
/*@media screen and (max-width:1024px){
    .drow {margin-left:-10px;margin-right:-10px;}
    .dcol {padding-left:10px;padding-right:10px;}
}*/
/* DEV PANEL=============================================
*/
/*======================================================
*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  cursor: pointer;
}
.header {
  background-color: #ffffff;
  border-bottom: 2px solid rgba(0, 194, 119, 0.4);
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header .delivery_line {
  background-color: #00c277;
  height: 31px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  float: left;
}
.header .delivery_line > div {
  display: inline-block;
  margin-top: 9px;
}
.header .delivery_line img {
  margin-right: 13px;
  float: left;
}
.header .nav-column {
  float: left;
}
.header .left {
  width: 20%;
  height: 70%;
  line-height: 6;
}
.header .left .menu-link {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
  line-height: 20px;
  display: none;
}
.header .right {
  width: 10%;
  height: 70%;
  line-height: 6;
}
.header .middle {
  width: 70%;
  height: 70%;
  text-align: center;
}
.header .panel {
  background: #ffffff;
  font-size: 10px;
  line-height: 55px;
  z-index: 102;
}
.header .img_s2 {
  display: none;
}
.header .logo,
.header .basket .ico {
  display: inline-block;
}
.header .logo .img_s2,
.header .basket .ico .img_s2 {
  display: none;
}
.header .logo {
  width: 70%;
  float: right;
}
.header .logo img {
  max-width: 100%;
}
.header .logo .img_s1 {
  width: 100%;
}
.header .logo a {
  text-decoration: none;
  display: block;
}
.header .logo a a {
  text-decoration: none;
}
.header .menu {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 28px 0 0;
  float: right;
  line-height: normal;
}
.header .menu li {
  float: left;
  margin-left: 20px;
}
.header .menu li a {
  color: #555555;
}
.header .menu li.sel a {
  font-weight: 500;
  color: #a15ab8;
}
.header .basket {
  float: right;
}
.header .basket .ico {
  cursor: pointer;
}
.header .basket .ico img {
  display: block;
  width: 17px;
}
.header .panel .top {
  display: inline-block;
  text-align: left;
  width: 100%;
  height: 61px;
  background-color: #00c277;
  padding: 0px 30px;
}
.header .panel .top button {
  color: #ffffff;
  font-size: 25px;
  line-height: 20px;
}
.header .panel .top img {
  width: 55%;
  max-width: 100%;
  height: auto;
  margin-left: 10%;
}
.header .panel ul {
  position: ._rel;
  min-height: 60%;
}
.header .panel li {
  text-align: left;
  margin-left: 10%;
  width: 100%;
}
.header .panel li a {
  color: #555555;
  font-size: 13px;
}
.header .panel li.sel a {
  font-weight: 500;
  color: #a15ab8;
}
.header .panel .bottom p {
  font-size: 16px;
  color: #555555;
  text-align: center;
}
.header .panel .bottom .social {
  display: block;
  max-width: 363px;
  margin: 20px auto 52px auto;
}
.header .panel .bottom .social:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.header .panel .bottom .social li {
  float: left;
  width: 15%;
}
.header .panel .bottom .social li + li {
  margin-left: 12px;
}
.header .panel .bottom .social img {
  display: block;
}
.header .panel .bottom .social svg {
  width: 46px;
  height: 46px;
  display: block;
}
.header .panel .bottom .social a {
  text-decoration: none;
  width: 46px;
  height: 46px;
  position: relative;
  display: block;
}
.header .panel .bottom .social a a {
  text-decoration: none;
}
.header .panel .bottom .social a .default,
.header .panel .bottom .social a .hover {
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: opacity 0.3s 0s;
  -webkit-transition: opacity 0.3s 0s;
  transition: opacity 0.3s 0s;
}
.header .panel .bottom .social a .default {
  opacity: 1;
}
.header .panel .bottom .social a .hover {
  opacity: 0;
}
@media screen and (max-width: 960px) {
  .delivery_line {
    display: none;
  }
  .header {
    background-color: #00c277;
    height: 61px;
  }
  .header .menu {
    display: none;
  }
  .header .left,
  .header .right {
    line-height: 20px;
    height: 100%;
  }
  .header .left {
    width: 70%;
  }
  .header .left .close {
    display: none;
    width: 15px;
    font-weight: 100;
  }
  .header .left .open {
    display: inline-block;
  }
  .header .middle {
    display: none;
  }
  .header .right {
    width: 25%;
  }
  .header .right img {
    width: 30px;
  }
  .header .logo img {
    width: 60%;
  }
  .header .img_s2 {
    display: inline-block;
  }
  .header .logo,
  .header .basket,
  .header button {
    margin: 20px auto;
  }
  .header .logo .img_s1,
  .header .basket .ico .img_s1 {
    display: none;
  }
  .header .logo .img_s2,
  .header .basket .ico .img_s2 {
    display: inline-block;
  }
  .header .panel ul {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .header .panel .top img {
    width: 35%;
    margin-top: 4%;
  }
}
@media only screen and (max-width: 620px) {
  .header .logo img {
    width: 100%;
  }
  .header .logo,
  .header .basket,
  .header button {
    margin: 7px auto;
    line-height: 20px;
  }
  .header .panel .top {
    padding: 10px 10px;
  }
  .header .panel .top img {
    max-width: 100%;
    height: auto;
    margin-left: 10%;
    width: 60%;
  }
  .header .panel .bottom .social {
    max-width: 350px;
  }
  .header .panel .bottom .social li {
    width: 13%;
  }
  .box_6 {
    padding: 130px 0 6px!important;
  }
}
@media only screen and (max-width: 345px) {
  .header .logo {
    width: 60%;
  }
  .header .logo img {
    width: 80%;
    margin: 5px auto;
  }
  .header .panel .top button {
    font-size: 20px;
  }
  .header .panel .top img {
    width: 60%;
  }
  .header .panel .bottom .social {
    margin: 0px auto 15px auto;
  }
  .header .left {
    width: 80%;
  }
  .header .left .menu-link {
    font-size: 20px;
  }
  .header .right {
    width: 15%;
  }
  .header .bottom .social {
    max-width: 215px;
  }
  .header .bottom .social a {
    width: 50px;
    height: 50px;
  }
  .header .bottom .social svg {
    width: 30px;
    height: 30px;
    display: block;
  }
  .header .bottom .social li {
    width: 10%;
  }
}
footer {
  font-weight: 300;
  font-size: 1em;
  line-height: 2em;
}
footer .container {
  padding: 16px 0px;
}
footer .row {
  margin-left: 0px!important;
  margin-right: 0px !important;
}
footer .logo {
  width: 114px;
  margin-bottom: 1.8em;
}
footer .logo img {
  width: 114px;
  display: block;
}
footer .logo a {
  text-decoration: none;
  display: block;
}
footer .logo a a {
  text-decoration: none;
}
footer .contacts div {
  position: relative;
}
footer .contacts div + div {
  margin-top: 1.4em;
}
footer .contacts div.mail img {
  margin-top: 3px;
}
footer .contacts a {
  cursor: default;
}
footer .contacts img {
  margin-right: 0.5em;
}
footer .payment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
footer .payment:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
footer .payment li {
  float: left;
}
footer .copyright {
  background-color: #f5f7f8;
  text-align: center;
  padding: 24px 0 25px;
}
footer .copyright span {
  padding: 0 8px;
}
footer .copyright .container {
  margin-left: 0px!important;
  margin-right: 0px !important;
}
@media only screen and (max-width: 768px) {
  .box_8 .bg:before {
    top: 428px!important;
  }
  .box_8 .right {
    margin: -10% 0 -35% !important;
    float: none;
  }
  .box_8 h2:after {
    margin: 15px auto;
  }
  .box_8 .contacts {
    max-width: 100%!important;
    text-align: center;
  }
  .box_8 .subscribe {
    text-align: center;
    margin-left: 0;
    float: none;
    padding: 65px 15px 98px!important;
  }
  .box_8 .subscribe .form {
    display: block !important;
    width: 80%!important;
    margin: 0 auto;
    line-height: 5;
  }
  .box_8 .subscribe .form a.btn_1 {
    width: 100%;
    margin-left: 0!important;
  }
  .wrapper {
    margin-bottom: 35%;
  }
  footer .contacts {
    text-align: center;
    margin: 0 auto 1.8em;
  }
  footer .menu .fa {
    position: absolute;
    right: 0.5em;
    margin-top: 0.15em;
    font-size: 2em;
    color: #bcbcbc;
  }
  footer .logo {
    margin: 0 auto 1.8em auto;
  }
  footer .menu {
    line-height: 2.6em;
    padding: 0;
  }
  footer .menu li {
    border-top: 1px solid #E5E5E5;
  }
  footer .menu li a {
    margin-left: 1em;
  }
}
/*
.web {
    .header .menu li:not(.sel) a:hover {color:@color4;}
    .footer .menu li a:hover {color:@color4;}
}*/
a.btn_1 {
  background-color: #ff6833;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 15px 65px;
  min-width: 206px;
  display: inline-block;
  -moz-transition: all 0.3s 0s;
  -webkit-transition: all 0.3s 0s;
  transition: all 0.3s 0s;
}
.web a.btn_1:hover {
  background-color: #a15ab8;
}
.box_1:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.box_1 .content {
  max-width: 400px;
  position: relative;
}
.box_1 .content .txt {
  padding: 218px 0 0;
}
.box_1 .txt {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 52px;
  line-height: 57px;
  color: #555555;
}
.box_1 .txt span {
  color: #00c277;
}
.box_1 a.btn_1 {
  padding: 13px 65px 14px;
  margin-top: 39px;
}
.box_1 .img {
  width: 60%;
  margin: -20% 0 0 0;
  float: right;
}
.box_1 .img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 960px) {
  .box_1 {
    z-index: -4;
  }
  .box_1 .row {
    margin: 0;
    padding: 0;
  }
  .box_1 .content {
    max-width: 100%;
  }
  .box_1 a.btn_1 {
    z-index: 2;
  }
  .box_1 .row {
    text-align: center;
  }
  .box_1 .row .txt {
    padding: 110px 0 0;
  }
  .box_1 .img {
    width: 100%;
    margin: 0 0 -15% 0;
    z-index: -5;
  }
  .box_1 .img img {
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .box_2 {
    margin-top: 0;
    z-index: -1;
    padding: 0 0 330px;
  }
  .box_2:before {
    height: 125%;
  }
  .box_2 .img.left {
    display: none;
  }
  .box_2 .img.right {
    display: none;
  }
  .box_2 .content {
    padding: 96px 0;
  }
  .box_2 .content h2 {
    text-align: center;
  }
  .box_2 .content h2:after {
    margin: 13px auto 0 auto;
  }
  .img.center {
    display: block!important;
    margin-top: -58%;
    z-index: 100;
  }
  .box_3 {
    z-index: -1 !important;
  }
  .box_3:before {
    height: 25%!important;
    top: -405px !important;
  }
  .box_3 .list {
    background-color: transparent!important;
  }
  .box_3 .list .item .text {
    width: 100%!important;
    padding: 0 0 130px 0!important;
    float: none;
  }
  .box_3 .list .item .text .second {
    float: right;
  }
  .box_3 .list .item .text .col {
    display: inline-block;
  }
  .box_3 .list .item .text .left {
    width: 30%;
  }
  .box_3 .list .item .text .right {
    width: 70%;
    float: right;
  }
  .box_3 .list .item .text img {
    margin: 10px 0 0 0;
  }
  .box_3 .list .item .img {
    width: 70% !important;
  }
  .box_3 .list .item:nth-child(1):before {
    background-size: 30% auto!important;
    top: 5%!important;
    left: 25% !important;
  }
  .box_3 .list .item:nth-child(1) .img {
    margin: 0 0 0 0!important;
    float: right !important;
  }
  .box_3 .list .item:nth-child(2):before {
    background-size: 30% auto!important;
    top: 52%!important;
    left: 61%!important;
    margin-left: 0!important;
    /*margin-left:0px!important;top:0!important;right:15%!important*/
  }
  .box_3 .list .item:nth-child(2) .img {
    margin: 0 0 0 0!important;
    float: left !important;
  }
  .box_456 {
    margin-top: -835px !important;
  }
  .box_456:before {
    background: #e893d7 none !important;
    background: -webkit-linear-gradient(165deg, #3023ae, #e893d7) !important;
    background: -moz-linear-gradient(165deg, #3023ae, #e893d7) !important;
    background: -ms-linear-gradient(165deg, #3023ae, #e893d7) !important;
    background: -o-linear-gradient(165deg, #3023ae, #e893d7) !important;
    background: linear-gradient(165deg, #3023ae, #e893d7) !important;
    -pie-background: linear-gradient(165deg, #3023ae, #e893d7) !important;
    left: 0!important;
    top: 0!important;
    margin-left: -1856px;
    -webkit-transform: rotate(-6deg) !important;
    -moz-transform: rotate(-6deg) !important;
    transform: rotate(-6deg) !important;
  }
  .box_456 .img.center {
    margin-top: 0;
    top: 0!important;
    z-index: 0;
  }
  .box_456 .img.center img {
    max-width: 115%!important;
    width: 115%;
  }
  .box_4:before {
    top: 100%!important;
    height: 150px !important;
  }
  .box_4 .row .dcol {
    margin: 15px auto;
    width: 50%;
  }
  .box_5 .container {
    max-width: 100%;
  }
  .box_6 .img.right {
    top: -190px !important;
    width: 100%!important;
  }
  .box_8.contacts {
    padding-left: 64px 0 145px;
  }
}
@media screen and (max-width: 345px) {
  .box_1 .row .txt {
    padding: 20% 0 0;
    font-size: 2.5em;
  }
  .box_1 a.btn_1 {
    margin-top: 0;
    line-height: 2.15em;
  }
  .box_1 .img {
    margin: 0% 0% 0% 0%;
  }
  .box_1 .img img {
    width: 100%;
    height: 100%;
  }
  .img.center {
    margin-top: -50%;
  }
}
.box_2 {
  color: #ffffff;
  position: relative;
  padding: 0 0 188px;
}
.box_2:before {
  background: #f76b1c none;
  background: -webkit-linear-gradient(91deg, #fad961, #f76b1c);
  background: -moz-linear-gradient(91deg, #fad961, #f76b1c);
  background: -ms-linear-gradient(91deg, #fad961, #f76b1c);
  background: -o-linear-gradient(91deg, #fad961, #f76b1c);
  background: linear-gradient(91deg, #fad961, #f76b1c);
  -pie-background: linear-gradient(91deg, #fad961, #f76b1c);
  width: 300%;
  height: 100%;
  position: absolute;
  top: 158px;
  left: -50%;
  content: '';
  width: 4098px;
  left: 50%;
  margin-left: -1366px;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  transform: rotate(16deg);
}
.box_2 .container {
  position: relative;
}
.box_2 .content {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.box_2 .content h2 {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 30px;
}
.box_2 .content h2:after {
  background-color: #00c277;
  width: 87px;
  height: 4px;
  margin-top: 13px;
  display: block;
  content: '';
}
.box_2 .content .txt {
  font-size: 16px;
  line-height: 21px;
}
.box_2 .content .txt a {
  color: #00c277;
}
.box_2 .content .txt ul,
.box_2 .content .txt ol {
  list-style: none;
  padding: 0;
  margin: 37px 0 40px;
  overflow: hidden;
}
.box_2 .content .txt ul > li,
.box_2 .content .txt ol > li {
  padding-left: 36px;
  position: relative;
}
.box_2 .content .txt ul > li + li,
.box_2 .content .txt ol > li + li {
  margin-top: 15px;
}
.box_2 .content .txt ul > li:before {
  background-color: #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 8px;
  left: 11px;
  content: '';
}
.box_2 .content .txt ol {
  counter-reset: myIndex;
}
.box_2 .content .txt ol > li:before {
  width: 20px;
  position: absolute;
  top: 0;
  left: 11px;
  content: counter(myIndex) '.';
  counter-increment: myIndex;
}
.box_2 .content .txt *:first-child {
  margin-top: 0;
}
.box_2 .content .txt *:last-child {
  margin-bottom: 0;
}
.box_2 .img.left {
  max-width: 630px;
  position: absolute;
  top: -55%;
  left: -20%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.box_2 .img.left img {
  max-width: 100%;
  display: block;
}
.box_2 .img.right {
  max-width: 480px;
  position: absolute;
  top: -235px;
  right: 0;
  z-index: 2;
}
.box_2 .img.right img {
  max-width: 100%;
  display: block;
}
.img.center {
  display: none;
  /*._abs;top:35%;left:0;*/
  width: 100%;
}
.img.center img {
  width: 100%;
  height: auto;
}
.box_3 {
  padding: 124px 0 738px;
  position: relative;
  z-index: 0;
}
.box_3:before {
  background: #570492 none;
  background: -webkit-linear-gradient(142deg, #00e88f, #570492);
  background: -moz-linear-gradient(142deg, #00e88f, #570492);
  background: -ms-linear-gradient(142deg, #00e88f, #570492);
  background: -o-linear-gradient(142deg, #00e88f, #570492);
  background: linear-gradient(142deg, #00e88f, #570492);
  -pie-background: linear-gradient(142deg, #00e88f, #570492);
  width: 300%;
  height: 100%;
  position: absolute;
  top: -194px;
  left: -50%;
  content: '';
  width: 4098px;
  left: 50%;
  margin-left: -1366px;
  -webkit-transform: rotate(-16deg);
  -moz-transform: rotate(-16deg);
  transform: rotate(-16deg);
}
.box_3 .content {
  position: relative;
}
.box_3 h2 {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 34px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 78px;
}
.box_3 h2:after {
  background-color: #ff6833;
  width: 87px;
  height: 4px;
  margin: 15px auto 0;
  display: block;
  content: '';
}
.box_3 .list {
  background-color: rgba(255, 255, 255, 0.92);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  max-width: 655px;
  margin: 0 auto;
  position: relative;
}
.box_3 .list .item:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.box_3 .list .item .img {
  border: 8px solid #ffffff;
  width: 366px;
}
.box_3 .list .item .img > div {
  background: none no-repeat 0 center transparent;
  background-size: cover;
  padding-bottom: 100%;
}
.box_3 .list .item .text {
  display: flex;
  align-items: flex-end;
}
.box_3 .list .item .text img {
  width: 62px;
  height: 62px;
  margin-bottom: 11px;
  display: block;
}
.box_3 .list .item .text .title {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 30px;
}
.box_3 .list .item .text .txt {
  font-size: 14px;
  line-height: 20px;
  margin-top: 9px;
}
.box_3 .list .item:nth-child(1):before {
  background: url('../images/design/box_3_left.png') no-repeat 0 0;
  width: 253px;
  height: 452px;
  margin-left: -37px;
  position: absolute;
  top: 118px;
  right: 100%;
  content: '';
}
.box_3 .list .item:nth-child(1) .img {
  margin: -40px 0 0 -41px;
  position: relative;
  z-index: 1;
  float: left;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 0;
}
.box_3 .list .item:nth-child(1) .text {
  width: 330px;
  height: 326px;
  padding: 0 86px 69px 56px;
  float: left;
}
.box_3 .list .item:nth-child(2):before {
  background: url('../images/design/box_3_right.png') no-repeat 0 0;
  width: 338px;
  height: 539px;
  margin-left: -119px;
  position: absolute;
  top: -90px;
  left: 100%;
  content: '';
}
.box_3 .list .item:nth-child(2) .img {
  margin: 0 -36px -41px 0;
  position: relative;
  z-index: 1;
  float: right;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 19px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 19px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 19px 0;
}
.box_3 .list .item:nth-child(2) .text {
  width: 325px;
  height: 325px;
  padding: 0 61px 61px 77px;
  float: left;
}
.box_456 {
  color: #ffffff;
  margin-top: -600px;
  position: relative;
}
.box_456:before {
  background: #e893d7 none;
  background: -webkit-linear-gradient(56deg, #3d0490, #e893d7);
  background: -moz-linear-gradient(56deg, #3d0490, #e893d7);
  background: -ms-linear-gradient(56deg, #3d0490, #e893d7);
  background: -o-linear-gradient(56deg, #3d0490, #e893d7);
  background: linear-gradient(56deg, #3d0490, #e893d7);
  -pie-background: linear-gradient(56deg, #3d0490, #e893d7);
  width: 300%;
  height: auto;
  position: absolute;
  top: 225px;
  bottom: -500px;
  left: -50%;
  content: '';
  width: 4098px;
  left: 50%;
  margin-left: -1366px;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  transform: rotate(16deg);
}
.box_456 .img.center {
  position: absolute;
  top: -191px;
  mix-blend-mode: multiply;
  object-fit: contain;
}
.box_456 .img.center img {
  max-width: 100%;
  display: block;
}
.box_4 {
  text-align: center;
  padding: 56px 0 102px;
  position: relative;
}
.box_4:before {
  background: #e893d7 none;
  background: -webkit-linear-gradient(240deg, #3d0490, #e893d7);
  background: -moz-linear-gradient(240deg, #3d0490, #e893d7);
  background: -ms-linear-gradient(240deg, #3d0490, #e893d7);
  background: -o-linear-gradient(240deg, #3d0490, #e893d7);
  background: linear-gradient(240deg, #3d0490, #e893d7);
  -pie-background: linear-gradient(240deg, #3d0490, #e893d7);
  height: 346px;
  position: absolute;
  top: 683px;
  left: -50%;
  content: '';
  width: 2443px;
  left: 50%;
  margin-left: -1366px;
  mix-blend-mode: multiply;
  -webkit-transform: rotate(-16deg);
  -moz-transform: rotate(-16deg);
  transform: rotate(-16deg);
}
.box_4 .content {
  position: relative;
}
.box_4 .row {
  color: #555555;
  margin: 0 -12px;
  display: flex;
  flex-wrap: wrap;
}
.box_4 .row .item {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 39px 24px 26px;
}
.box_4 .row .item img {
  width: 58px;
  height: 58px;
  margin: 0 auto 29px;
  display: block;
}
.box_4 .row .item .title {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 23px;
  line-height: 23px;
}
.box_4 .row .item .txt {
  font-size: 14px;
  line-height: 19px;
  margin-top: 15px;
}
.box_4 h2 {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 31px 0 20px;
}
.box_4 a.btn_1 {
  padding: 12px 50px 13px;
}
.box_5 {
  text-align: center;
  position: relative;
}
.box_5 .arrow-container {
  width: auto;
}
.box_5 .swiper-container {
  width: 1120px;
  height: 100%;
  margin: 50px auto;
  padding: 20px 29px;
}
.box_5 .swiper-container .swiper-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.box_5 .swiper-container .swiper-wrapper .swiper-slide {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  display: block;
  width: 376px;
  height: 480px;
  text-align: center;
  font-size: 18px;
  color: #000000;
  background: #fff;
  opacity: 0.99;
  border-radius: 4px;
  padding: 25px 20px;
  position: relative;
}
.box_5 .swiper-container .swiper-wrapper .swiper-slide .txt {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: left;
  font-stretch: normal;
  letter-spacing: normal;
  padding: 20px 60px;
}
.box_5 .swiper-container .swiper-wrapper .swiper-slide .txt.view {
  font-weight: 700;
  text-transform: uppercase;
  color: #a15ab8;
  font-style: normal;
  padding: 10px 75px;
}
.box_5 .swiper-container .swiper-wrapper .swiper-slide-active {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
  height: 520px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .box_5 .swiper-container .swiper-wrapper .swiper-slide-active {
    height: 520px;
    margin: 0px -3px;
    z-index: 10;
  }
}
.box_5 .profile {
  position: absolute;
  left: 50px;
  top: 210px;
}
.box_5 .profile.txt {
  font-weight: 700;
  left: 90px;
  top: 215px;
  color: #ffffff;
}
.box_5 h2 {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 34px;
}
.box_5 h2:after {
  background-color: #00c277;
  width: 87px;
  height: 4px;
  margin: 15px auto 0;
  display: block;
  content: '';
}
.box_5 .swiper-button-prev {
  background-color: #00c277;
  background-size: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
  top: 75%!important;
  left: 20px!important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;
}
.box_5 .swiper-button-next {
  background-color: #00c277;
  background-size: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.21);
  top: 75%!important;
  right: 20px!important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;
}
.arrow-container {
  position: relative;
  width: 107%;
  height: auto;
  margin-left: -40px;
}
.box_6 {
  text-align: center;
  padding: 470px 0 6px;
  position: relative;
}
.box_6 h2 {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 30px;
}
.box_6 h2:after {
  background-color: #ff6833;
  width: 87px;
  height: 4px;
  margin: 9px auto 0;
  display: block;
  content: '';
}
.box_6 .list {
  margin: 0 -12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.box_6 .list .dcol {
  padding: 28px 12px;
}
.box_6 .list img {
  margin: 0 auto;
  display: block;
}
.box_6 .img.right {
  position: absolute;
  top: -463px;
  right: 0;
  width: 85%;
  mix-blend-mode: multiply;
  object-fit: contain;
}
.box_6 .img.right img {
  max-width: 100%;
  width: 100%;
  display: block;
}
.box_7 {
  background-size: cover;
  color: #ffffff;
  text-align: center;
  position: relative;
  max-height: 380px;
  overflow: hidden;
}
.box_7 .video-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_7 .video-container video {
  width: 100%;
  height: auto;
}
.box_7 .video-container .video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url('https://pranamat.com/images/grid.png');
}
.box_7 .content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 0;
  padding: 0.4em;
  margin: 0;
  z-index: 99;
}
.box_7 h2 {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 23px;
}
.box_7 a.btn_1 {
  background: none transparent;
  letter-spacing: 0.3px;
  border: 2px solid #ffffff;
  padding: 10px 46px 11px;
}
.box_8 {
  background-color: #f89637;
  background: #faa640 none;
  background: -webkit-linear-gradient(6deg, #f76b1c, #faa640);
  background: -moz-linear-gradient(6deg, #f76b1c, #faa640);
  background: -ms-linear-gradient(6deg, #f76b1c, #faa640);
  background: -o-linear-gradient(6deg, #f76b1c, #faa640);
  background: linear-gradient(6deg, #f76b1c, #faa640);
  -pie-background: linear-gradient(6deg, #f76b1c, #faa640);
  position: relative;
}
.box_8 .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.box_8 .bg:before {
  background: #e6580b none;
  background: -webkit-linear-gradient(91deg, #ee3300, #e6580b);
  background: -moz-linear-gradient(91deg, #ee3300, #e6580b);
  background: -ms-linear-gradient(91deg, #ee3300, #e6580b);
  background: -o-linear-gradient(91deg, #ee3300, #e6580b);
  background: linear-gradient(91deg, #ee3300, #e6580b);
  -pie-background: linear-gradient(91deg, #ee3300, #e6580b);
  width: 300%;
  height: 200%;
  position: absolute;
  top: 509px;
  left: -50%;
  content: '';
  width: 4098px;
  left: 50%;
  margin-left: -1366px;
  -webkit-transform: rotate(19deg);
  -moz-transform: rotate(19deg);
  transform: rotate(19deg);
}
.box_8 .bg img {
  display: block;
}
.box_8 .container {
  position: relative;
}
.box_8 h2 {
  font-family: 'AvertaStd', Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 39px;
}
.box_8 h2:after {
  background-color: #00c277;
  width: 87px;
  height: 4px;
  margin-top: 15px;
  display: block;
  content: '';
}
.box_8 .txt {
  font-size: 16px;
  line-height: 23px;
  min-height: 77px;
}
.box_8 .txt span {
  font-weight: 500;
}
.box_8 .txt p {
  margin: 8px 0;
}
.box_8 .txt *:first-child {
  margin-top: 0;
}
.box_8 .txt *:last-child {
  margin-bottom: 0;
}
.box_8 .contacts {
  color: #ffffff;
  max-width: 380px;
  padding: 64px 0 98px;
}
.box_8 .contacts .social {
  margin-top: 36px;
  display: inline-block;
}
.box_8 .contacts .social:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.box_8 .contacts .social li {
  display: inline-block;
}
.box_8 .contacts .social img {
  display: block;
}
.box_8 .contacts .social svg {
  width: 46px;
  height: 46px;
  display: block;
}
.box_8 .contacts .social a {
  text-decoration: none;
  width: 46px;
  height: 46px;
  position: relative;
  display: block;
}
.box_8 .contacts .social a a {
  text-decoration: none;
}
.box_8 .contacts .social a .default,
.box_8 .contacts .social a .hover {
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: opacity 0.3s 0s;
  -webkit-transition: opacity 0.3s 0s;
  transition: opacity 0.3s 0s;
}
.box_8 .contacts .social a .default {
  opacity: 1;
}
.box_8 .contacts .social a .hover {
  opacity: 0;
}
.box_8 .subscribe {
  background-color: #ffffff;
  padding: 64px 59px 98px;
  margin-left: -4px;
  float: right;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 2px 21px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 2px 21px 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 2px 21px 8px;
}
.box_8 .subscribe h2:after {
  background-color: #ff6833;
}
.box_8 .subscribe .txt {
  font-weight: 300;
  margin-bottom: 37px;
}
.box_8 .subscribe .form {
  width: 100%;
  display: flex;
}
.box_8 .subscribe .form:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.box_8 .subscribe .form .inputblock {
  /*display:flex;._left;*/
  width: 100%;
  flex: 1;
}
.box_8 .subscribe .form .inputblock label {
  display: none;
}
.box_8 .subscribe .form .inputblock input {
  background: none transparent;
  font-size: 14px;
  line-height: 20px;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  border: 1px solid #e1e1e1;
  width: 100%;
  height: 45px;
  padding: 10px 42px 13px 32px;
  margin: 0;
  display: block;
  -moz-transition: all 0.3s 0s;
  -webkit-transition: all 0.3s 0s;
  transition: all 0.3s 0s;
}
.box_8 .subscribe .form .inputblock input ._phcolor {
  color: #b4b4b4;
  opacity: 1;
}
.box_8 .subscribe .form .inputblock input::-webkit-input-placeholder {
  color: #b4b4b4;
  opacity: 1;
  /*padding-top:1px;*/
}
.box_8 .subscribe .form .inputblock input:-moz-placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.box_8 .subscribe .form .inputblock input::-moz-placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.box_8 .subscribe .form .inputblock input:-ms-input-placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.box_8 .subscribe .form .inputblock input.placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.box_8 .subscribe .form .inputblock input:focus {
  border-color: #555555;
}
.box_8 .subscribe .form a.btn_1 {
  min-width: 146px;
  padding: 12px 30px 13px;
  margin-left: 11px;
  /*._right;*/
  display: inline-flex;
  justify-content: center;
}
.box_8 .drow {
  display: flex;
  flex-wrap: wrap;
}
.box_8 .left {
  /*width:50%;*/
  margin: -13px 0 -14px;
  float: left;
}
.box_8 .right {
  /*width:50%;*/
  margin: -13px 0 -14px;
  float: left;
  display: flex;
  align-items: stretch;
}
.web .box_7 a.btn_1:hover {
  border-color: #a15ab8;
}
.web .box_8 .contacts .social a:hover .default {
  opacity: 0;
}
.web .box_8 .contacts .social a:hover .hover {
  opacity: 1;
}
.header {
  display: block;
}
